.App {
  text-align: center;
  display: grid;
  height: 100vh; /* Use the full height of the viewport */
  grid-template-columns: 75% 25%; /* 75% for the left side, 25% for the right side */
  grid-template-rows: auto; /* Let the rows adjust to the content size */
}

.left-section {
  display: grid;
  grid-template-rows: 75% 25%; /* 75% for the top, 25% for the bottom */
  border: 1px solid #ccc;
}

.right-section {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
}

.search-space-display {
  border-bottom: 1px solid #ccc; /* Adds a solid border to the bottom */
}

.search-space-info {
  border-top: 1px solid #ccc; /* Adds a solid border to the top */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}